.technologiesSection {
    padding: 2rem;
    background-color: #f5f5dc;
}

.technologiesSection .description {
    margin-top: 1rem;
}

.technologiesContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1rem;
}

.technologyItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
}