.presentation {
    padding-top: 6rem;
    text-align: center;
}

.presentationContainer {
    margin-top: 2rem;
    border: 2px solid #d5d5d5;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.presentationContainer .description {
    text-align: left;
    font-style: italic;
}

.description .phrase {
    margin-top: 1rem;
    font-weight: 500;
}

.presentationContainer .img {
    margin-left: 2rem;
}

.rounded {
    border-radius: 50%;
}

@media only screen and (max-width: 800px) {
    .presentationContainer {
        border: none;
        flex-direction: column-reverse;
        padding: none;
        width: 80%;
    }
    .presentationContainer .img {
        margin-left: unset;
        padding-bottom: 1rem;
    }
}